*.cc text
*.cpp text
*.h text
*.json text
*.md text
*.txt text
*.uproject text
*.bat text
*.c text
*.cxx text
*.o -text
*.lib -text
*.a -text
*.dll -text
*.exe -text
*.cab -text
*.cat -text
*.sys -text
*.so -text
*.in text
*.am text
*.m4 text
*.ac text
*.proj text
*.sln text
Makefile text
*.cs text
*.py text
*.ini text
*.schema text
*.uproject text